
<div class="logo">
  <img class="img-logo" src="assets/logos/Logotype_main.gif">
</div>

<div class="reserv-vip">
  <h2>БРОНИРОВАНИЕ СТОЛИКА</h2>
  <div class="stick"></div>
</div>

<div class="modal-window" [@dialog] *ngIf="showModal">
  <div class="modal-window-header">
    <span class="close" (click)="showModal = false">×</span>
  </div>
  <div class="modal-window-body">
    <img class="vipImg" src="{{selectedImg}}" alt="">
    <div class="modal-window-title">{{selectedVip.titleHTML}}</div>
    <div [innerHTML]="selectedVip.textHTML"></div>
  </div>
  <div class="modal-window-footer">
    <div class="btn btn-primary" (click)="showFormModal = true; showModal = false;">БРОНЬ</div>
  </div>
</div>


<div class="modal-window modal-window-form" [@dialog] *ngIf="showFormModal">
  <div class="modal-window-header">
    <span class="close" (click)="showFormModal = false">×</span>
  </div>
  <div class="modal-window-body modal-window-body-form">
    <form action="telegram.php" method="POST">
      <div class="inputs">
        <input type="text" name="name" placeholder="Имя">
        <input type="number" name="phone" placeholder="Номер телефона">
      </div>
      <div class="inputs">
        <input type="date" name="date" placeholder="Выберите дату">
        <input type="time" name="time" placeholder="Выберите время">
      </div>
      <div class="modal-window-footer">
        <input class="btn btn-primary" type="submit" value="Отправить">
      </div>
    </form>
  </div>
</div>

<div class="vip-blocks">
  <div>
    <div class="block-vip first" >
      <figure class="snip0015" *ngFor="let hall of hall1">
        <!-- <a href="payment.php"> -->
          <a (click)="showModal = true; selectedVip = hall">
          <img src="{{hall.img}}" width="250px" height="150px" />
          <figcaption>
            <h2>Зал <br> <span>{{hall.title}}</span></h2>
            <p>{{hall.places}} мест</p>
          </figcaption>
        </a>
      </figure>
    
      <div class="adaptive-btn adaptive-btn-top">
        <div class="vip-btns">
          <a class="icon" (click)="showModal = true; selectedImg = hall.img; selectedVip = hall" *ngFor="let hall of hall1">
            <h5>{{hall.title}}</h5>
            <h5 style="margin-left:auto; margin-right:0;">{{hall.places}} мест </h5>
          </a>
        </div>
      </div>
    
    </div>
    
    <div class="block-vip">
      <figure class="snip0015" *ngFor="let hall of hall2" >
        <a (click)="showModal = true; selectedVip = hall">
          <img src="{{hall.img}}" width="250px" height="150px" />
          <figcaption>
            <h2>Зал <br> <span>{{hall.title}}</span></h2>
            <p>{{hall.places}} мест</p>
          </figcaption>
        </a>
      </figure>
    
      <div class="adaptive-btn">
        <div class="vip-btns">
          <a class="icon" (click)="showModal = true; selectedImg = hall.img; selectedVip = hall" *ngFor="let hall of hall2">
            <h5>{{hall.title}}</h5>
            <h5 style="margin-left:auto; margin-right:0;">{{hall.places}} мест </h5>
          </a>
        </div>
      </div>
    </div>
  
  </div>
</div>



