
<div class="logo">
  <img class="img-logo" src="assets/logos/Logotype_main.gif">
</div>

<div class="menu">
  <h2>БРОНИРОВАНИЕ СТОЛИКА</h2>
  <div class="stick"></div>
</div>

<div class="modal-window" [@dialog] *ngIf="showModal">
  <div class="modal-window-header">
    <span class="close" (click)="showModal = false">×</span>
  </div>
  <div class="modal-window-body">
    "MILLIONAIRE" своим притязательным гостям представляет элитные и уникальные VIP-залы. Уникальность в том, что в каждой из них исключительный брендовый стиль и
    шикарная атмосфера, которую может ощутить не каждый! 
    Великолепие в каждой детали зала: сервировка, коллекции элегантной брендовой мебели и интерьера, так же с деталями ручной работы из дорогих материалов.
  </div>
  <div class="modal-window-footer">
    <div class="btn btn-primary">БРОНЬ</div>
  </div>
</div>


<div class="block" style="margin-top: 18%;">
  <figure class="snip0015" *ngFor="let hall of hall1">
    <!-- <a href="payment.php"> -->
      <a>
      <img src="{{hall.img}}" width="250px" height="150px" />
      <figcaption>
        <h2>Зал <br> <span>{{hall.title}}</span></h2>
        <p>{{hall.places}} мест</p>
      </figcaption>
    </a>
  </figure>

  <div class="adaptive-btn adaptive-btn-top">
    <div class="vip-btns">
      <a class="icon" href="payment.php" *ngFor="let hall of hall1">
        <h5>{{hall.title}}</h5>
        <h5 style="margin-left:auto; margin-right:0;">{{hall.places}} мест </h5>
      </a>
    </div>
  </div>

</div>

<div class="block">
  <figure class="snip0015" *ngFor="let hall of hall2" >
    <a (click)="showModal = true">
      <img src="{{hall.img}}" width="250px" height="150px" />
      <figcaption>
        <h2>Зал <br> <span>{{hall.title}}</span></h2>
        <p>{{hall.places}} мест</p>
      </figcaption>
    </a>
  </figure>

  <div class="adaptive-btn">
    <div class="vip-btns">
      <a class="icon" *ngFor="let hall of hall2">
        <h5>{{hall.title}}</h5>
        <h5 style="margin-left:auto; margin-right:0;">{{hall.places}} мест </h5>
      </a>
    </div>
  </div>
</div>



