<mdb-navbar SideClass="navbar navbar-expand-lg shadow-none navbar-dark fixed-top">
    <mdb-navbar-brand>
      <a class="navbar-brand disabled" style="opacity: 0;">Navbar</a>
    </mdb-navbar-brand>
    <links>
      <div class="navbar-nav">
        <a class="nav-item nav-link active waves-light" href="/home" mdbWavesEffect>Главная </a>
        <a class="nav-item nav-link waves-light" href="/menu" mdbWavesEffect>Меню <span
          class="sr-only">(current)</span></a>
        <a class="nav-item nav-link waves-light" href="/gallery" mdbWavesEffect>Галерея </a>
        <a class="nav-item nav-link waves-light" href="/reservation" mdbWavesEffect>Забронировать</a>
  
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('ru')">
              ru
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('en')">
              en
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('kz')">
              kz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('ch')">
              ch
            </a>
          </li>
        </ul>
      </div>
    </links>
  </mdb-navbar>
  
  <div id="nav" class="navbar shadow-none navbar-dark">
    <div style="display: flex;">
      <a class="nav-item nav-link active waves-light" href="/home" mdbWavesEffect>Главная </a>
      <a class="nav-item nav-link waves-light" href="/menu" mdbWavesEffect>Меню <span
        class="sr-only">(current)</span></a>
    </div>
    <div style="display: flex;" class="nav-half">
      <a class="nav-item nav-link waves-light" href="/gallery" mdbWavesEffect>Галерея </a>
      <a class="nav-item nav-link waves-light" href="/reservation" mdbWavesEffect>Забронировать
      </a>
    </div>
  
    <div class="languages">
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('ru')">ru</button>
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('en')">en</button>
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('kz')">kz</button>
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('ch')">ch</button>
    </div>
  
  
  </div>
  

<div class="logo">
    <img class="img-logo" src="assets/logos/Logotype_main.gif">
</div>

<div class="menu">
    <h2>МЕНЮ</h2>
    <div class="stick"></div>
</div>
<div class="mar-top">
    <!-- <div id="list" *ngFor="let el of list">
        <h3>{{el.name}}</h3>
        <ol>
            <li *ngFor="let item of el.foods">
                <p><em>{{item.name}}</em> {{item.description}}</p>
            </li>
        </ol>
    </div> -->
    <img src="assets/img/menu/0001.jpg" alt="">
    <img src="assets/img/menu/0002.jpg" alt="">
    <img src="assets/img/menu/0003.jpg" alt="">
    <img src="assets/img/menu/0004.jpg" alt="">
    <img src="assets/img/menu/0005.jpg" alt="">
    <img src="assets/img/menu/0006.jpg" alt="">
    <img src="assets/img/menu/0007.jpg" alt="">
    <img src="assets/img/menu/0008.jpg" alt="">
    <img src="assets/img/menu/0009.jpg" alt="">
    <img src="assets/img/menu/0010.jpg" alt="">

    <img src="assets/img/menu/001.jpg" alt="">
    <img src="assets/img/menu/002.jpg" alt="">
    <img src="assets/img/menu/003.jpg" alt="">
    <img src="assets/img/menu/004.jpg" alt="">
    <img src="assets/img/menu/005.jpg" alt="">
    <img src="assets/img/menu/006.jpg" alt="">
    <img src="assets/img/menu/007.jpg" alt="">
    <img src="assets/img/menu/008.jpg" alt="">
    <img src="assets/img/menu/009.jpg" alt="">

    <img src="assets/img/menu/0001b.jpg" alt="">
    <img src="assets/img/menu/0002b.jpg" alt="">
    <img src="assets/img/menu/0003b.jpg" alt="">
    <img src="assets/img/menu/0004b.jpg" alt="">
    <img src="assets/img/menu/0005b.jpg" alt="">
    <img src="assets/img/menu/0006b.jpg" alt="">
    <img src="assets/img/menu/0007b.jpg" alt="">
    <img src="assets/img/menu/0008b.jpg" alt="">
    <img src="assets/img/menu/0009b.jpg" alt="">
    <img src="assets/img/menu/0010b.jpg" alt="">
    <img src="assets/img/menu/0011b.jpg" alt="">
    <img src="assets/img/menu/0012b.jpg" alt="">
    <img src="assets/img/menu/0013b.jpg" alt="">
    <img src="assets/img/menu/0014b.jpg" alt="">
    <img src="assets/img/menu/0015b.jpg" alt="">

    <img src="assets/img/menu/0001v.jpg" alt="">
    <img src="assets/img/menu/0002v.jpg" alt="">
    <img src="assets/img/menu/0003v.jpg" alt="">
    <img src="assets/img/menu/0004v.jpg" alt="">
    <img src="assets/img/menu/0005v.jpg" alt="">
    <img src="assets/img/menu/0006v.jpg" alt="">

    <img src="assets/img/menu/crazy.jpeg" alt="">


</div>