.logo {
    position: absolute;
    z-index: 1040;
    display: block;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0E121B;

}

.img-logo {
    max-width: 170px;
    max-height: 140px;
}

.navbar {
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Cormorant Unicase', serif;
    font-style: normal;
    font-size: 13px;
    z-index: 1000;
    width: 100%;
    padding-left: 25%;
    // padding-right: 15%;
    top: 0;

    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    box-shadow: none !important;

    .nav-link {
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: rgba(255, 255, 255, 0.2);
    }

    .space {
        margin-right: 8%;
    }

    .nav-half{
        padding-left:10%;
    }

    .languages{
        display:flex;
        .btn-lan{
            width:27px;
            padding:2px;
            background-color: #0E121B;

        }
    }


}

.menu {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 0px;
    /* or 0% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    .stick {
        position: absolute;
        width: 5%;
        height: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
        border-radius: 50px;
    }


}

.types {
    // position: absolute;
    padding-left: 8%;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    display: flex;
    margin-top: 18%;


    .type {
        padding-left: 1%;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        border-right: 1px solid white;


    }

    .type:hover {
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
    }
}

.block-events {
    // height: 100%;
    width: 100%;
    padding-right: 4%;
    padding-top: 15%;
    // padding-bottom: 4%;


    .about {
        padding-top: 4%;
        
        text-align: center;
        color: #FFFFFF;

        .img {
            padding-top: 2%;
            margin-left: 8%;
        }

    }

    .about:first-child{
        margin-left:13%;
        margin-right:8%;
    }

    h3 {
        color: black;
        text-align: center;
    }
}

figure {
    width: 400px;
    height: 280px;
    margin: 0;
    background: #fff;
    overflow: hidden;

    img{
      width: 400px; 
    height:300px;  
    }
    

    img:hover {
        cursor: pointer;
    }

}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
    
}


// .hover figure img {
// 	-webkit-transform: scale(1);
// 	transform: scale(1);
// 	-webkit-transition: .3s ease-in-out;
// 	transition: .3s ease-in-out;
// }
// .hover figure:hover img {
// 	-webkit-transform: scale(1.3);
// 	transform: scale(1.3);
// }

/* Zoom Out #1 */
.hover figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rect {
    position: absolute;
    padding-top: 2%;
    margin-left: 3%;
}

.rect2 {
    position: absolute;
    padding-top: 2%;
    margin-left: 68%;
}


.title {
    font-family: 'Cormorant Unicase', serif;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    // line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.flex-res{
    display: flex;
}