.logo {
    position: absolute;
    z-index: 1040;
    display: block;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0E121B;

}

.img-logo {
    max-width: 170px;
    max-height: 140px;
}

.menu {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 0px;
    /* or 0% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    .stick {
        position: absolute;
        width: 5%;
        height: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
        border-radius: 50px;
    }


}

.types {
    // position: absolute;
    padding-left: 8%;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    display: flex;
    margin-top: 15%;


    .type {
        padding-left: 1%;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        border-right: 1px solid white;


    }

    .type:hover {
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
    }
}

.block-events {
    width: 100%;
    padding-top: 15%;
    // height: 100%;
    // padding-right: 4%;
    // padding-bottom: 4%;


    .about {
        padding-top: 4%;
        width: 50%;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        // padding-left:16%;
        // padding-right:10%;

        .img {
            // padding-top: 2%;
            // margin-left: 8%;
        }

    }

    // .about:first-child{
    //     margin-left:13%;
    //     margin-right:8%;
    // }

    h3 {
        color: black;
        text-align: center;
    }
}

figure {
    width: 400px;
    height: 280px;
    margin: 0;
    background: #fff;
    overflow: hidden;

    img{
      width: 400px; 
    height:300px;  
    }
    

    img:hover {
        cursor: pointer;
    }

}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
    
}


// .hover figure img {
// 	-webkit-transform: scale(1);
// 	transform: scale(1);
// 	-webkit-transition: .3s ease-in-out;
// 	transition: .3s ease-in-out;
// }
// .hover figure:hover img {
// 	-webkit-transform: scale(1.3);
// 	transform: scale(1.3);
// }

/* Zoom Out #1 */
.hover figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rect {
    position: absolute;
    padding-top: 2%;
    margin-left: 5%;
}

.rect2 {
    position: absolute;
    padding-top: 2%;
    margin-left: 75%;
}


.title {
    font-family: 'Cormorant Unicase', serif;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    // line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.flex-res{
    display: flex;
}


.modal-window {
    width: 600px;
    height: auto;
    position: absolute;
    // background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
    border: 1px solid rgba(255, 255, 255, 0.9);
    z-index: 10000;
    left: 35%;
    top: 40%;
    color: white;
    font-family: 'Cormorant Unicase', serif !important;
  
    &-form{
      width: 800px;
      left: 30%;
  
      .inputs{
        display: flex;
        width: 700px;
  
        input{
          font-size: 16px;
          width: 50%;
          margin: 5px;
      
        }
      }
    }
  
    .modal-window-header {
      padding: 0rem 1rem !important;
      height: 30px;
      background-color: #0E121B !important;
  
      .close {
        margin-left: auto;
        margin-right: 0;
        font-size: 30px;
        color: white;
        cursor: default;
      }
    }
  
    .modal-window-body {
      padding: 10px;
      background-color: #0E121B !important;
      height: auto;
      text-align: center;
  
      &-form{
      padding: 40px;
      }
  
    }
  
    .modal-window-footer{
      padding: 10px 10px 20px 10px;
      display: flex;
      justify-content: center;
      background-color: #0E121B !important;
  
    }
  
    .btn-primary {
      background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%) !important;
      border-radius: 5px;
      width: 250px !important;
      height: 44px !important;
      font-size: 20px !important;
      text-align: center;
      border-color: none !important;
    }
  
    .btn-primary:hover{
      border-color: none !important;
    }
  }