
<div class="logo">
  <img class="img-logo" src="assets/logos/Logotype_main.gif">
</div>

<div class="reserv-title">
  <h2>БРОНИРОВАНИЕ СТОЛИКА</h2>
  <div class="stick"></div>
</div>

<div class="modal-window modal-window-form" [@dialog] *ngIf="showFormModal">
  <div class="modal-window-header">
    <span class="close" (click)="showFormModal = false">×</span>
  </div>
  <div class="modal-window-body modal-window-body-form">
    <form action="telegram.php" method="POST">
      <div class="inputs">
        <input type="text" placeholder="Имя">
        <input type="number" placeholder="Номер телефона">
      </div>
      <div class="inputs">
        <input type="date" placeholder="Выберите дату">
        <input type="time" placeholder="Выберите время">
      </div>
      <div class="modal-window-footer">
        <input class="btn btn-primary" type="submit" value="Отправить">
      </div>
    </form>
  </div>
</div>

<div class="block-events">
  <div class="flex-res">
    <div class="about">
      <!-- <div class="hover img" routerLink="/common"> -->
        <div class="hover img">
        <figure>
          <a (click)="showFormModal = true">
            <img src="assets/img/Desktop-6.png"  />
          </a>
        </figure>
        <span class="title">ОБЩИЙ ЗАЛ</span>
      </div>

    </div>
    <div class="rect">
      <img src="assets/img/about-img-rect.png" width="350px" height="350px">
    </div>

    <div class="about">
      <div class="hover img" routerLink="/vip">
        <figure>
          <img src="assets/img/halls/Гуччи2.png"/></figure>
          <span class="title">VIP ЗАЛ</span>

      </div>
    </div>
    <div class="rect2">
        <img src="assets/img/about-img-rect.png" width="350px" height="350px">
      </div>
  </div>
</div>