.navbar-link {
    display: flex;
    justify-content: center;
  }
  
  .navbar {
    // position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Cormorant Unicase', serif;
    font-style: normal;
    font-size: 13px;
    z-index: 1000;
    width: 100%;
    padding-left: 25%;
    // padding-right: 15%;
    display: flex;
  
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    box-shadow: none !important;
  
    .nav-link {
      color: #FFFFFF;
      padding-left: 60px;
    }
  
    .nav-link:hover {
      color: rgba(255, 255, 255, 0.2);
    }
  
    .languages {
      display: flex;
  
  
      .btn-lan {
        width: 27px;
        padding: 2px;
        background-color: #0E121B;
  
      }
    }
  
  }

  :host {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}