.logo {
    position: absolute;
    z-index: 1040;
    display: block;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0E121B;

}

.img-logo {
    max-width: 170px;
    max-height: 140px;
}

.navbar {
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Cormorant Unicase', serif;
    font-style: normal;
    font-size: 13px;
    z-index: 1000;
    width: 100%;
    padding-left: 25%;
    padding-right: 15%;
    top: 0;

    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    box-shadow: none !important;

    .nav-link {
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: rgba(255, 255, 255, 0.2);
    }

    .space {
        margin-right: 8%;
    }

    .nav-half{
        padding-left:10%;
    }
    
    .languages{
        display:flex;

        .btn-lan{
            margin:0;
            width:27px;
            padding:2px;
            background-color: #0E121B;
        }
    }


}

.menu {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 0px;
    /* or 0% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    .stick {
        position: absolute;
        width: 5%;
        height: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-bottom: 1%;


        background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
        border-radius: 50px;
    }


}

.block {
    height: 100%;
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;

    border: 1px solid rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    font-family: 'Cormorant Unicase', serif;

    .form {
        height: 300px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;

        input {
            height: 45px;
            width: 300px;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            text-indent: 20px;
            color: rgba(51, 51, 51, 0.5);

            border-radius: 5px;
        }

        label {
            color: #FFFFFF;
        }

        .center {
            margin-left: 12%;
            margin-right: auto;
        }

        .flex{
            display: flex;
        }

        .left{
            margin-left:3%;
        }

        .left-date{
            margin-left:12%;
        }

    }

    .icon {
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding: 5px;
        width: 250px;
        height: 40px;
        display: flex;
        background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
        border-radius: 5px;
        color: #fff;
        text-decoration: none;

        padding-left:13%;
    }

    .submit {
        position: relative;
        margin-left: 38%;
        margin-top:-10%;
        margin-bottom: 3%;
    }

}