<mdb-navbar SideClass="navbar navbar-expand-lg shadow-none navbar-dark fixed-top">
    <mdb-navbar-brand>
      <a class="navbar-brand disabled" style="opacity: 0;">Navbar</a>
    </mdb-navbar-brand>
    <links>
      <div class="navbar-nav">
        <a class="nav-item nav-link active waves-light" href="/home" mdbWavesEffect>Главная </a>
        <a class="nav-item nav-link waves-light" href="/menu" mdbWavesEffect>Меню</a>
        <a class="nav-item nav-link waves-light" href="/gallery" mdbWavesEffect>Галерея</a>
        <a class="nav-item nav-link waves-light" href="/reservation" mdbWavesEffect>Забронировать
          <span
          class="sr-only">(current)</span></a>
  
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('ru')">
              ru
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('en')">
              en
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('kz')">
              kz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="changeLanguage('ch')">
              ch
            </a>
          </li>
        </ul>
      </div>
    </links>
  </mdb-navbar>
  
  <div id="nav" class="navbar shadow-none navbar-dark">
    <div style="display: flex;">
      <a class="nav-item nav-link active waves-light" href="/home" mdbWavesEffect>Главная </a>
      <a class="nav-item nav-link waves-light" href="/menu" mdbWavesEffect>Меню</a>
    </div>
    <div style="display: flex;" class="nav-half">
      <a class="nav-item nav-link waves-light" href="/gallery" mdbWavesEffect>Галерея</a>
      <a class="nav-item nav-link waves-light" href="/reservation" mdbWavesEffect>Забронировать <span
        class="sr-only">(current)</span>
        <span
        class="sr-only">(current)</span></a>
    </div>
  
    <!-- <div class="languages">
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('ru')">ru</button>
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('en')">en</button>
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('kz')">kz</button>
      <button type="button" class="btn btn-dark btn-lan" (click)="changeLanguage('ch')">ch</button>
    </div> -->
  
  
  </div>
<div class="logo">
  <img class="img-logo" src="assets/logos/Logotype_main.gif">
</div>

<div class="menu">
  <h2>БРОНИРОВАНИЕ СТОЛИКА</h2>
  <div class="stick"></div>
</div>

<div class="block forma">
  <div class="form">
    <div class="center flex">
      <input type="text" placeholder="Имя">
      <input type="text" placeholder="Номер телефона" class="left">
    </div>

    <div class="center" class="flex">

      <div class="left-date">
        <label>Выберите дату</label>
        <input type="date" id="input" class="form-control" mdbInput>

      </div>

      <div class="left">
        <label>Выберите время</label>
        <input type="time" id="input" class="form-control" value="{{time}}" mdbInput />
      </div>
    </div>

  </div>
  <div class="submit">
    <button type="button" class="icon" mdbBtn color="primary" mdbWavesEffect (click)="link()">ОТПРАВИТЬ</button>
  </div>

</div>