.logo {
    position: absolute;
    z-index: 1040;
    display: block;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-logo {
    max-width: 170px;
    max-height: 140px;
}

.navbar-link{
    display: flex;
    justify-content: center;
}

.navbar {
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Cormorant Unicase', serif;
    font-style: normal;
    font-size: 13px;
    z-index: 1000;
    width:100%;
    padding-left: 28%;
    // padding-right: 15%;
    display:flex;

    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    box-shadow: none !important;

    .nav-link {
        color: #FFFFFF;
        padding-left: 60px;
    }

    .nav-link:hover{
        color:rgba(255, 255, 255, 0.2);
    }

    .languages{
        display:flex;


        .btn-lan{
            width:27px;
            padding:2px;
            background-color: #0E121B;

        }
    }

}


.title {
    z-index: 50;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70%;
    height: 30%;
    top: 40%;

    .restaurant {
        z-index: 50;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding-bottom: 5%;

    }


}

.rectangle {
    width: 30%;
    height: 3%;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 50;

    background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
    border-radius: 50px;
}


.block {
    height: 100%;
    width: 100%;
    background-color: #0E121B;
    display: flex;



    .carousel-item {
        &.active, &.carousel-item-right, &.carousel-item-next {
          display: flex !important;
          flex-wrap: wrap
        }
      }

      .card-description{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        color: white;
        background-color: #0E121B;
        opacity: 0.8;
        text-align: center;
        padding: 50px;

      }


      mdb-card-img:hover{
        opacity: 0.8;
      }

    

}

.block-chief {
    height: 100%;
    width: 100%;
    padding-left: 2%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 4%;

    // .center-text{
    //     padding-top:10%; 
    //  }

    .flex{
        display: flex;
    }


    .about {
        text-align: center;
        width: 50%;
        color: #FFFFFF;

        .img {
            img {
                width: 500px;
                height: 400px;
            }
        }

    }

    h2 {
        margin-bottom: 0%;
    }

    .stick {
        width: 10%;
        height: 1%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        left: 0;
        right: 0;

        background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
        border-radius: 50px;
    }
}


.block-events {
    height: 100%;
    width: 100%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: white;

    .flex{
        display: flex;
    }

    .about {
        text-align: center;
        width: 50%;
        color: #FFFFFF;

        .img {
            padding-top: 2%;
            margin-left: 8%;

            img {
                width: 500px;
                height: 400px;
            }
        }

    }

    h3 {
        color: black;
        text-align: center;
    }
}

.block-photo {
    height: 100%;
    width: 100%;
    padding-bottom: 3px;
    background-color: #FFFFFF;


    img {
        height: 100%;
        width: 100%;
    }
}

.down-bar {
    display: flex;
    background: #0E121B;
    width: 100%;
    height: 70px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;

    .text{
        padding-left:40%;
        text-align: center;
    }
    .social{
        padding: 10px;
        margin-left:auto;
        margin-right:0;

        i{
            width:25px;
            height:25px;
        }
    }
}

#map{
    width: 100%;
    height: 300px;
}

.video-fluid {
    width: 100%;
    height: auto;
  }

//   .video-mask{
//       height: 98%;
//   }



figure.snip0015 {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 600px;
    // max-width: 310px;
    height: 400px;
    // width: 100%;
    background: #0E121B;
    text-align: center;
  }
  
  figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  
  figure.snip0015 figcaption {
    position: absolute;
    bottom: 1em;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
  }
  
  figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  
  figure.snip0015 h2,
  figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
  }
  
  figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  figure.snip0015 h2 span {
    font-weight: 800;
  }
  
  figure.snip0015 p {
    font-weight: 200;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  
  figure.snip0015:hover img {
    opacity: 0.35;
  
  }
  
  figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  
  }
  
  figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  
  figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  figure:hover {
    cursor: pointer;
  }
  
  .adaptive-btn {
    display: none;
  
    .vip-btns {
      height: 100%;
      width: auto;
      padding-left: 9%;
      font-family: 'Cormorant Unicase', serif;
      // background-color: bisque;
  
    }
  
  
    .icon {
      position: relative;
      overflow: hidden;
      display: inline-block;
      padding: 5px;
      margin-left: 3%;
      margin-top: 3%;
      width: 250px;
      height: 40px;
      display: flex;
      background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      border: none;
  
    }
  
  
    /**
       * The "shine" element
       */
  
    .icon:after {
      content: "";
      position: absolute;
      top: -110%;
      left: -210%;
      width: 400%;
      height: 300%;
      opacity: 0;
      transform: rotate(30deg);
  
      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%);
    }
  
    /* Hover state - trigger effect */
  
    .icon:hover:after {
      opacity: 1;
      top: -10%;
      left: -10%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
  
    /* Active state */
  
    .icon:active:after {
      opacity: 0;
    }
  
    .flex {
      display: flex;
    }
  
  }