
<div class="logo">
  <img class="img-logo" src="assets/logos/Logotype_main.gif">
</div>

<div class="menu">
  <h2>Галерея</h2>
  <div class="stick"></div>
</div>
<div class="types">
  <div class="type" (click)=changeType(public) [ngStyle]="{'text-decoration' : hall === public ? 'underline' : 'none'}">Общий зал</div>
  <div class="type" (click)=changeType(bantli) [ngStyle]="{'text-decoration' : hall === bantli ? 'underline' : 'none'}">Bentley</div>
  <div class="type" (click)=changeType(versaci) [ngStyle]="{'text-decoration' : hall === versaci ? 'underline' : 'none'}">Versace</div>
  <div class="type" (click)=changeType(gucci) [ngStyle]="{'text-decoration' : hall === gucci ? 'underline' : 'none'}">Gucci</div>
  <div class="type" (click)=changeType(madona) [ngStyle]="{'text-decoration' : hall === madona ? 'underline' : 'none'}">Madonna</div>
  <div class="type" (click)=changeType(roberto) [ngStyle]="{'text-decoration' : hall === roberto ? 'underline' : 'none'}">Roberto</div>
  <div class="type" (click)=changeType(fandi) [ngStyle]="{'text-decoration' : hall === fandi ? 'underline' : 'none'}">Fendi</div>
  <div class="type" (click)=changeType(hermes) [ngStyle]="{'text-decoration' : hall === hermes ? 'underline' : 'none'}">Hermes</div>
  <div class="type" (click)=changeType(kavia) [ngStyle]="{'text-decoration' : hall === kavia ? 'underline' : 'none'}">Caviar</div>
</div>

<div class="slider">
  <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let img of hall">
      <img class="d-block w-100" src="{{img}}" alt="First slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>