.logo {
    position: absolute;
    z-index: 1040;
    display: block;
    margin-top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0E121B;
}

.img-logo {
    max-width: 170px;
    max-height: 140px;
}


.gallery-title {
    position: absolute;
    margin-top: 163px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 0px;
    /* or 0% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    .stick {
        position: absolute;
        width: 5%;
        height: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        background: linear-gradient(90deg, #A16327 0%, #EEB75E 98.64%);
        border-radius: 50px;
    }


}

.types {
    position: absolute;
    // padding-left: 15%;
    width: 100%;
    height: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 222px;
    left: 0;
    right: 0;


    .type {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 15px;
        // display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        border-right: 1px solid white;
        font-family: 'Cormorant Unicase', serif;


    }

    .type:hover {
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
    }
}

.lists {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    display: flex;
    margin-top: 1%;
    padding: 2%;
    // border: 1px solid white;


    .list {
        width: 50%;
        display: flex;

        ul {
            list-style: none;
        }

    }
}

.slider {
    // padding-top: 2%;
    position: absolute;
    width: 70%;
    height: 60%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 3%;
    margin-right: auto;
    margin-top: 260px;
    left: 0;
    right: 0;
}

.loader{
    width: 100%;
    height: 60%;
    margin-top: 17%;

}

.flex{
    display: flex;
}


.spinner-border {
    width: 5rem !important;
    height: 5rem !important;
}


// @media only screen and (max-width: 768px) {
//     .slider {
//         height: 50%;
//     }
// }